<% include ../partials/head %>
<% include ../partials/header %>

<body style="padding: 0; margin-top: 5rem">
    <!-- Popular Hotel -->
    <div class="bg-light">
        <div class="container">
            <div class="row text-center" style="padding: 3em 0; ;display: flex; flex-wrap: wrap;">
                <div class="col-md-6 text-left">
                    <h3>Traveller's Choice: Popular Resto</h3>
                </div>
                <div class="col-md-6 text-right">
                    <h5>READ MORE</h3>
                </div>
                <% collection.forEach(function(resto) { %>
                <div class="col-md-3 col-sm-6 mt-3">
                    <div class="img-thumbnail">
                        <img src="<%= resto.image %>" style="width: 100%" alt="">
                        <div class="caption">
                            <h4>Image</h4>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- Luxury Hotel -->
    <div>
        <div class="container">
            <div class="row text-center" style="padding: 3em 0; ;display: flex; flex-wrap: wrap;">
                <div class="col-md-6 text-left">
                    <h3>Traveller's Choice: Luxury Resto</h3>
                </div>
                <div class="col-md-6 text-right">
                    <h5>READ MORE</h3>
                </div>
                <% collection.forEach(function(resto) { %>
                <div class="col-md-3 col-sm-6 mt-3">
                    <div class="img-thumbnail">
                        <img src="<%= resto.image %>" style="width: 100%" alt="">
                        <div class="caption">
                            <h4>Image</h4>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- Cheapest Hotel -->
    <div class="bg-light">
        <div class="container">
            <div class="row text-center" style="padding: 3em 0; ;display: flex; flex-wrap: wrap;">
                <div class="col-md-6 text-left">
                    <h3>Traveller's Choice: Cheapest Resto</h3>
                </div>
                <div class="col-md-6 text-right">
                    <h5>READ MORE</h3>
                </div>
                <% collection.forEach(function(resto) { %>
                <div class="col-md-3 col-sm-6 mt-3">
                    <div class="img-thumbnail">
                        <img src="<%= resto.image %>" style="width: 100%" alt="">
                        <div class="caption">
                            <h4>Image</h4>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
</body>